* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior:smooth;
}

body {
    background-color: #f6f6f6;
    color: #333;
}

header {
    position:sticky;
    top: 0px;
    background-color: #f6f6f6;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    margin-bottom: 10px;
    
}

nav {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #f05a28;
    margin: 20px ;
}

.build-resume-btn,
.login-btn {
    background-color: #f05a28;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
}

main {
    text-align: center;
    padding: 40px 20px;
}

.featured {
    margin: 20px 0;
}

.featured p {
    color: #666;
    margin-bottom: 10px;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.description p {
    color: #555;
    max-width: 600px;
    margin: 20px auto;
    font-size: 1em;
    line-height: 1.5em;
}

.description a {
    color: #f05a28;
    text-decoration: none;
}

.parse-btn {
    background-color: #f05a28;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
}

 h2{
    font-size: 40px;
}
.info p{
    color: #555;
    max-width: 600px;
    margin: 20px auto;
    font-size: 1em;
    line-height: 1.5em;
}
.container {
    height:60vh;
    width:  100%;
    margin: auto;
    background-color: #f36a31;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.details {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.upload-btn {
    background-color: #f36a31;
    text-decoration: none;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-btn:hover {
    background-color: #e55a22;
}

.job-select{
    border-top: 1px solid black;
    padding: 40px;
}
.job-select label{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
#jobrole{
    padding: 10px;
    border-radius: 5px;
}

   
/* responsive design */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    .logo {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }

    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 1.8em;
        overflow: hidden;
    }

    .image1 img {
        max-width: 100%;
    }

    .breadcrumb {
        font-size: 12px;
    }

    .description p {
        font-size: 0.9em;
    }

    .upload-btn,
    .parse-btn {
        padding: 10px;
    }
   
}

@media (max-width: 480px) {
    body{
        position: absolute;
    }
    h1 {
        font-size: 1.5em;
        overflow: hidden;
    }

    .description p {
        font-size: 0.8em;
    }

    .image1 img {
        max-width: 100%;
    }

    .upload-btn,
    .parse-btn {
        padding: 8px;
    }

    .breadcrumb {
        flex-direction: column;
        font-size: 10px;
    }
    
}

.drop-zone {
    border: 2px dashed #5B7553;
    padding: 40px;
    margin: 20px 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80%;
    margin: auto;
}

#results p {
    font-size: 1.2em;
}

.drop-zone.dragover {
    border-color: green;
}

.resultsDecoration, .SuggestionDecoration{
    width: 80%;
    margin: 10px auto;
    border: solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.resultsDecoration h3{
    text-align: center;
    padding: 10px;
}
#mainResult, #mainSuggestion{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-evenly;
}

.result_div{
    height: auto;
    padding: 20px;
    width: auto;
}
.suggestions_div{
    border-radius: 10px;
    height: auto;
    text-align: left;
    padding: 10px;
    margin: 20px;
    width: auto;
}
#projectSuggestion{
    margin: 20px;
    padding: 20px;
    border: solid grey;
    border-radius: 10px;
}



.hide{
    display: none;
}

.show{
    display: block;
}

.info{
    padding: 40px;
}

.Output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}